---
layout: 'layouts/base.njk'
title: 'Homepage'
---
{% include 'sections/hero1.html' %}
{% include 'sections/galery.html' %}
{% include 'sections/testemonials.html' %}
{% include 'sections/testemonials.html' %}