<section class="py-24 ">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="font-manrope text-5xl font-semibold text-gray-900 text-center mb-16">Događaji</h2>
    <div class="flex justify-center  gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-between lg:gap-x-8">
      <div class="group w-full max-lg:max-w-xl lg:w-1/3 border border-gray-300 rounded-2xl overflow-hidden cursor-pointer">
        <div class="flex items-center">
            <img src="/stadion-images/news3.jpg" alt="blogs tailwind section" class="rounded-t-2xl w-full object-cover aspect-video group-hover:scale-105 transition-all duration-300 ease-in-out">
        </div>
        <div class="p-4 lg:p-6 transition-all duration-300 rounded-b-2xl group-hover:bg-gray-100">
            <span class="text-indigo-600 font-medium mb-3 block">Jan 01, 2023</span>
            <h4 class="text-xl text-gray-900 font-medium leading-8 mb-5">Lovćen traži novu pobjedu pred svojim navijačima</h4>
            <p class="text-gray-500 leading-6 mb-10">Nakon serije loših rezultata, fudbaleri Lovćena ovog vikenda dočekuju rivalski tim... </p>
            <a href="javascript:;" class="cursor-pointer text-lg text-indigo-600 font-semibold">Read more..</a>
        </div>
      </div>
      <div class="group w-full max-lg:max-w-xl lg:w-1/3 border border-gray-300 rounded-2xl overflow-hidden cursor-pointer">
        <div class="flex items-center">
            <img src="/stadion-images/news2.jpg" alt="blogs tailwind section" class="rounded-t-2xl w-full object-cover aspect-video group-hover:scale-105 transition-all duration-300 ease-in-out">
        </div>
        <div class="p-4 lg:p-6 transition-all duration-300 rounded-b-2xl group-hover:bg-gray-100">
            <span class="text-indigo-600 font-medium mb-3 block">Jan 01, 2023</span>
            <h4 class="text-xl text-gray-900 font-medium leading-8 mb-5">Atletičari iz cijele zemlje na startu velikog mitinga u prijestonici</h4>
            <p class="text-gray-500 leading-6 mb-10">Cetinje će narednog vikenda biti domaćin prestižnog atletskog mitinga Peak Athletic...</p>
            <a href="javascript:;" class="cursor-pointer text-lg text-indigo-600 font-semibold">Read more..</a>
        </div>
      </div>
      <div class="group w-full max-lg:max-w-xl lg:w-1/3 border border-gray-300 rounded-2xl overflow-hidden cursor-pointer">
        <div class="flex items-center">
            <img src="/stadion-images/news1.jpg" alt="blogs tailwind section" class="rounded-t-2xl w-full object-cover aspect-video group-hover:scale-105 transition-all duration-300 ease-in-out">
        </div>
        <div class="p-4 lg:p-6 transition-all duration-300 rounded-b-2xl group-hover:bg-gray-100">
            <span class="text-indigo-600 font-medium mb-3 block">Nov 05, 2025</span>
            <h4 class="text-xl text-gray-900 font-medium leading-8 mb-5">Gol Stankovića u 89. minutu šokirao goste</h4>
            <p class="text-gray-500 leading-6 mb-10">Uzbudljiv meč na Cetinju između Lovćena i Sutjeske riješen je u samom finišu kada...</p>
            <a href="javascript:;" class="cursor-pointer text-lg text-indigo-600 font-semibold">Read more..</a>
        </div>
      </div>
    </div>
    <a href="javascript:;" class="cursor-pointer border border-gray-300 shadow-sm rounded-full py-3.5 px-7 w-52 flex justify-center items-center text-gray-900 font-semibold mx-auto transition-all duration-300 hover:bg-gray-100 mt-12">Pogledaj sve</a>

  </div>
</section>
                                            