<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Swiper CSS -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
  <script src="https://unpkg.com/swiper@11/swiper-bundle.min.js"></script>
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  {{ head | safe }}
</head>
<body class="bg-sec text-dark relative hero__layer">
  {% include 'partials/_header.html' %}
  <main>
    {{ content | safe }}
  </main>
  {% include 'partials/_footer.html' %}
  
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
   <!-- Swiper JS -->
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

  <!-- Your custom script (must come AFTER Swiper) -->
  <script defer src="/script.js"></script>

  <!-- Light Vimeo -->
  <script defer type="module" src="https://cdn.jsdelivr.net/npm/lite-vimeo-embed/+esm"></script>
</body>
</html>